body {
    background-color: rgb(15, 15, 15);
    color: white;
    font-family: Arial;
}

.logo-image {
    width: 20%;
}

.logo-button {
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    display: flex;
}

.logo-text {
    margin-top: 50px;
}

#side-bar-left {
    width: 55px;
    height: 680px;
    background-color: rgb(25, 25, 25);
    border-radius: 40px;
    margin-left: 10px;
    margin-top: 10px;
    border-color: black;
}

#first-bar-of-middle {
    width: 505px;
    height: 200px;
    background-color: rgb(25, 25, 25);
    border-radius: 40px;
    margin-left: 500px;
    margin-top: 10px;
    border-color: black;
    position: relative;
    top: -700px;
    left: 200px;
}

.home-button:hover,
.search-button:hover,
.friends-button:hover,
.groups-button:hover,
.notes-button:hover,
.courses-button:hover,
.exercises-button:hover,
.questions-button:hover,
.notifications-button:hover,
.perfil-button:hover,
.settings-button:hover {
    background-color:rgb(30, 30, 30);
}


.upload-button:hover {
    background-color: rgb(255, 20, 148);
}

.home-button:active,
.search-button:active,
.friends-button:active,
.groups-button:active,
.notes-button:active,
.courses-button:active,
.exercises-button:active,
.questions-button:active,
.notifications-button:active,
.perfil-button:active,
.settings-button:active {
    background-color:rgb(50, 50, 50);
}


.upload-button:active {
    background-color: rgb(255, 30, 158);
}

.ChooseATheme {
    position: relative;
    left: 114px;
}

.home-button {
    display: flex;
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color:transparent;
    color: white;
    padding: 7px;
    top: 10px;
    margin-bottom: 24px;
    margin-left: 5px;
}

.search-button {
    display: flex;
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color:transparent;
    color: white;
    padding: 7px;
    margin-bottom: 24px;
    margin-left: 5px;
}
.friends-button {
    display: flex;
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color:transparent;
    color: white;
    padding: 7px;
    margin-bottom: 24px;
    margin-left: 5px;
}
.groups-button {
    display: flex;
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color:transparent;
    color: white;
    padding: 7px;
    margin-bottom: 24px;
    margin-left: 5px;
}
.notes-button {
    display: flex;
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color:transparent;
    color: white;
    padding: 7px;
    margin-bottom: 24px;
    margin-left: 5px;
}
.courses-button {
    display: flex;
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color:transparent;
    color: white;
    padding: 7px;
    margin-bottom: 24px;
    margin-left: 5px;
}
.exercises-button {
    display: flex;
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color:transparent;
    color: white;
    padding: 7px;
    margin-bottom: 24px;
    margin-left: 5px;
}
.questions-button {
    display: flex;
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color:transparent;
    color: white;
    padding: 7px;
    margin-bottom: 24px;
    margin-left: 5px;
}
.notifications-button {
    display: flex;
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color:transparent;
    color: white;
    padding: 7px;
    margin-bottom: 24px;
    margin-left: 5px;
}

.perfil-button {
    display: flex;
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color:transparent;
    color: white;
    padding: 7px;
    margin-bottom: 24px;
    margin-left: 5px;
}

.upload-button {
    display: flex;
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 40px;
    background-color: rgb(255, 0, 128);
    color: white;
    padding: 7px;
    top: -8px;
    margin-left: 5px;
}

.settings-button {
    display: flex;
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color:transparent;
    color: white;
    padding: 7px;
    margin-bottom: 24px;
    margin-left: 5px;
}

.home-text,
.search-text,
.friends-text,
.groups-text,
.notes-text,
.courses-text,
.exercises-text,
.questions-text,
.notifications-text,
.perfil-text,
.upload-text,
.settings-text {
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 15px;
}
 .Black {
    color: white;
    background-color: rgb(25, 25, 25);
    border-radius: 30px;
    border-style: solid;
    cursor: pointer;
    border-color: black;
    position: relative; 
    left: 185px;
}
.White {
    color: Black;
    background-color: White;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    cursor: pointer;
    border-color: black;
    margin-left: 0px;
    position: relative;
    left: 185px;
}
