body {
    background-color: white;
    color: rgb(15, 15, 15);
}

.black-background {
    background-color: rgb(15, 15, 15);
    color: white;
}

.white-background {
    background-color: white;
    color: rgb(15, 15, 15);
}

.logo-image {
    width: 20%;
    position: relative;
    left: 140px;
}

.logo-button {
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    padding-right: -100px;
    padding-left: -600px;
    left: -260px;
}

.logo-text {
    margin-top: 34px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#search-bar-rectangle-top {
    width: 1630px;
    height: 60px;
    background-color: rgb(25, 25, 25);
    border-radius: 40px;
    margin-left: 230px;
}

#side-bar-left {
    width: 200px;
    height: 680px;
    background-color: rgb(25, 25, 25);
    border-radius: 40px;
    margin-left: 10px;
}

.home-button:hover,
.search-button:hover,
.friends-button:hover,
.groups-button:hover,
.notes-button:hover,
.courses-button:hover,
.exercises-button:hover,
.questions-button:hover,
.notifications-button:hover,
.perfil-button:hover,
.settings-button:hover {
    background-color:rgb(30, 30, 30);
}


.upload-button:hover {
    background-color: rgb(255, 20, 148);
}

.home-button:active,
.search-button:active,
.friends-button:active,
.groups-button:active,
.notes-button:active,
.courses-button:active,
.exercises-button:active,
.questions-button:active,
.notifications-button:active,
.perfil-button:active,
.settings-button:active {
    background-color:rgb(50, 50, 50);
}


.upload-button:active {
    background-color: rgb(255, 30, 158);
}

.home-button {
    display: flex;
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color:transparent;
    color: white;
    padding-top: 10px;
    padding-right: 90px;
    top: 10px;
    margin-bottom: 19px;
    margin-left: 5px;
}

.search-button {
    display: flex;
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color:transparent;
    color: white;
    padding-top: 10px;
    padding-right: 83px;
    margin-bottom: 19px;
    margin-left: 5px;
}
.friends-button {
    display: flex;
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color:transparent;
    color: white;
    padding-top: 10px;
    padding-right: 83px;
    margin-bottom: 19px;
    margin-left: 5px;
}
.groups-button {
    display: flex;
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color:transparent;
    color: white;
    padding-top: 10px;
    padding-right: 85px;
    margin-bottom: 19px;
    margin-left: 5px;
}
.notes-button {
    display: flex;
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color:transparent;
    color: white;
    padding-top: 10px;
    padding-right: 94px;
    margin-bottom: 19px;
    margin-left: 5px;
}
.courses-button {
    display: flex;
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color:transparent;
    color: white;
    padding-top: 10px;
    padding-right: 75px;
    margin-bottom: 19px;
    margin-left: 5px;
}
.exercises-button {
    display: flex;
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color:transparent;
    color: white;
    padding-top: 10px;
    padding-right: 65px;
    margin-bottom: 19px;
    margin-left: 5px;
}
.questions-button {
    display: flex;
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color:transparent;
    color: white;
    padding-top: 10px;
    padding-right: 65px;
    margin-bottom: 19px;
    margin-left: 5px;
}
.notifications-button {
    display: flex;
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color:transparent;
    color: white;
    padding-top: 10px;
    padding-right: 50px;
    margin-bottom: 19px;
    margin-left: 5px;
}

.perfil-button {
    display: flex;
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color:transparent;
    color: white;
    padding-top: 10px;
    padding-right: 97px;
    margin-bottom: 19px;
    margin-left: 5px;
}

.upload-button {
    display: flex;
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 40px;
    background-color: rgb(255, 0, 128);
    color: white;
    padding-right: 90px;
    padding-top: 10px;
    top: 20px;
    margin-bottom: 19px;
    margin-left: 5px;
}

.settings-button {
    display: flex;
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color:transparent;
    color: white;
    padding-top: 10px;
    padding-right: 90px;
    margin-bottom: 19px;
    margin-left: 5px;
    top: 10px;
}

.home-text,
.search-text,
.friends-text,
.groups-text,
.notes-text,
.courses-text,
.exercises-text,
.questions-text,
.notifications-text,
.perfil-text,
.upload-text,
.settings-text {
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 15px;
}